# Auto detect text files and normalize line endings to LF
* text=auto

# Explicitly declare text files
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ini text eol=lf
*.cfg text eol=lf
*.toml text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mo binary
*.pdf binary
*.pyc binary
*.zip binary
